@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color: white;
}

html{
  font-size: 16px;
}

.main {
  min-width: 376px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 60px;
  font-size: 0;
}

.cards{
  display: inline-block;
  position: relative;
  width: 400px;
  margin-right: 40px;
  padding: 40px;
  border-radius: 15px;
  overflow: hidden;
}

.cards::before,
.cards::after{
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: var(--text-color);
  opacity: 0.25;
}

.cards::before{
  bottom: 60px;
  left: 280px;
}

.cards:after{
  top: 120px;
  left: 220px;
}

.main > article:last-child{
  margin-right: 0;
}

.card--coral{
  background: linear-gradient(to right, rgb(245, 190, 142), rgb(249, 91, 117));
}

.card--blue{
  background: linear-gradient(to right, rgba(117, 199, 240, 0.832), rgb(63, 145, 237));
}

.card--green{
  background: linear-gradient(to right, rgb(46, 216, 190), rgb(27, 201, 181));
}

.cards-title{
  font-size: 1.6rem;
  color: var(--text-color);
  margin-bottom: 30px;
}

.cards-number{
  margin-bottom: 50px;
  font-size: 2.2rem;
  color: var(--text-color);
}

.cards-item{
  font-size: 1.3rem;
  color: var(--text-color);
}

.cards-icon{
  position: absolute;
  width: 25px;
  height: 25px;
  top: 40px;
  right: 40px;
  fill: var(--text-color);
}

@media screen and (max-width:1399px){
  .main{
    max-width: 1200px;
    padding: 20px 40px;
  }
  .cards{
    width: 340px;
    margin-right: 30px;
    padding: 30px;
  }

  .main > article:last-child{
    margin-right: 0;
  }
  .cards::before,
  .cards::after{
    width: 185px;
    height: 185px;
  }

  .cards::before{
    bottom: 60px;
    left: 250px;
  }

  .cards:after{
    top: 110px;
    left: 190px;
  }
  
  .cards-title{
    margin-bottom: 25px;
  }

  .cards-number{
    margin-bottom: 45px;
  }

  .cards-icon{
    top: 35px;
    right: 35px;
  }
}

@media screen and (max-width:1200px){
  html{
    font-size: 14px;
  }
  
  .main{
    padding: 20px 20px;
  }
  .cards{
    min-width: 250px;
    max-width: 320px;
    margin-right: 15px;
  }

  .cards::before,
  .cards::after{
    width: 170px;
    height: 170px;
  }

  .cards::before{
    left: 250px;
  }

  .cards-number{
    margin-bottom: 40px;
  }

  .cards-icon{
    top: 30px;
    right: 30px;
  }
}

@media screen and (max-width:1080px){
  .cards{
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .main > article:last-child{
    margin: 0 auto;
    margin-bottom: 0;
  }
}